{%
set nav_classes = 'navbar navbar-expand-lg mb-3 nav-bar-color' ~
  (b5_navbar_schema != 'none' ? " navbar-#{b5_navbar_schema}" : ' ') ~
  (b5_navbar_schema != 'none' ? (b5_navbar_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b5_navbar_bg_schema != 'none' ? " bg-#{b5_navbar_bg_schema}" : ' ')
%}

{%
set footer_classes = ' ' ~
  (b5_footer_schema != 'none' ? " footer-#{b5_footer_schema}" : ' ') ~
  (b5_footer_schema != 'none' ? (b5_footer_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b5_footer_bg_schema != 'none' ? " bg-#{b5_footer_bg_schema}" : ' ')
%}

<header>

	{% if page.nav_branding or page.nav_main or page.nav_additional %}
		<nav class="{{ nav_classes }}">
			<div class="{{ b5_top_container }} d-flex">
				{{ page.nav_branding }}

				<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
					{{ page.nav_main }}
					{{ page.nav_additional }}
				</div>
			</div>
		</nav>
	{% endif %}
	<div class="header">
		{{ page.header }}
	</div>


</header>
